@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-r from-gray-600 to-gray-500;
}

.form-group {
  @apply flex flex-col mb-5 justify-start items-center w-full;
}

.form-label {
  @apply font-nunito font-semibold text-gray-700 w-full mb-3;
}

.sidebar {
  @apply bg-transparent text-gray-300 font-nunito px-10 py-4;
}

.sidebar-wrapper {
  @apply flex flex-col justify-center font-light;
}

.sidebar-link {
  @apply flex py-5 items-center text-gray-400;
}

.sidebar-link:hover {
  @apply text-white;
}

.sm-btn {
  @apply rounded font-bold px-2 py-1 font-nunito flex items-center;
}

.sm-btn-danger {
  @apply sm-btn bg-orange-600;
}

.sm-btn-warning {
  @apply sm-btn bg-teal-500;
}

.sm-btn:hover {
  @apply shadow-lg;
}

.card {
  @apply rounded-lg shadow-lg text-white font-nunito overflow-x-auto;
}
.router-link-exact-active {
  @apply font-black text-white;
}
.card-header {
  @apply px-5 py-5 font-semibold;
}
.input-group {
  @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight;
}
.input-group:focus {
  @apply outline-none bg-white border-purple-500;
}
.input-error {
  @apply input-group border-2 border-red-500;
}

.text-error {
  @apply font-light text-red-400 w-full text-xs italic;
}

.card-body {
  @apply px-5 pb-5;
}
.dark-btn {
  @apply rounded font-bold px-5 py-2 font-nunito bg-half flex items-center;
}

.half-dark-btn {
  @apply rounded font-bold px-5 py-2 font-nunito bg-dark flex items-center;
}

.dark-btn:hover {
  @apply shadow-lg;
}

.table-auto tbody tr:hover {
  @apply bg-gray-700;
}

.table-col {
  @apply px-4 py-3;
}

.table-row-index {
  @apply font-bold text-center;
}

.table-auto tr td:first-child {
  @apply table-row-index;
}

.table-auto tr td {
  @apply table-col;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 38px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}